/* margin:lề
padding:phần đệp
box-siding:vách ngăn hộp
transition:chuyển tiếp
background-color:màu nền
font-size:cỡ chữ
font-family:phông chữ đọ dày nghiêng đậm
font-weight:trong lượn phông chữ
lint-height:chiều cao chữ
text-align:căn chỉnh văn bản left:bên trái
max-width:chiều rộng tối đa
text-decoratiotn: trang trí văn bản none: không có
color:màu sắc
margin-bottom:đáy lề;
float:trôi nổi left :sang trái
width:chiều rộng;
width:chiều rộng
margin:lề 0 auto

*/